.archive #page,
.blog #page,
.page-projects #page{
	#primary{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: min-content;
		column-gap: 6px;
		row-gap: 6px;
		margin: 1.5em;

		@media screen and (max-width: $break-medium) {
			grid-template-columns: 1fr;
		}

		.page-header{
			grid-column-start: 1; 
			grid-column-end: -1;

			.page-title{
							
			}
		} 

		article{

			a{
				text-decoration: none;
				color: $text-color-main;
			}

			.banner{
				height: 100px;
			}

			.entry-header{

				.post-thumbnail{
					height: 120px;
					flex: 0 0 120px;
					margin-bottom: -35px;
					margin-top: -45px;

					@media screen and (max-width: $break-medium) {
						height: 90px;
						flex: 0 0 90px;
						margin-bottom: -50px;
						margin-top: -30px;
						margin-right: 1em;
					}
					
					img{
						width: 100px;
						height: 100px;

						@media screen and (max-width: $break-medium) {
							width: 70px;
							height: 70px;
						}
					}
				}

				.entry-headline{
					.entry-super-title{
						font-size: 1em;
					}

					.entry-title{
						font-size: 1.25em;
					}

					@media screen and (max-width: $break-medium) {
						.entry-super-title{
							font-size: 0.75em;
						}
	
						.entry-title{
							font-size: 1em;
						}
					}

				}

			}
			
		}
	}

	#secondary{
		margin-top: 12em;
	}
}