.page-home{
	#page{
		grid-template-columns: 100%;

		#primary{
			margin-left: 1.5em;
			margin-right: 1.5em;

			@media screen and (max-width: $break-small) {
				margin-left: 0.5em;
				margin-right: 0.5em;
			}

			&>.entry-header{
				background: #404040;
				color: #f6f6f6;
				width: 100%;
				padding: 1em 1.5em;
				margin: 1.5em 0 0.5em 0;
			}

			.page-header{
				//margin: -1.5em 0 1.5em -1.5em;
				//width: calc(100% + 3em);
				margin: 1.5em 0 1.5em 0;
				h2{
					margin: 0;
				}
				h3{
					margin: 0;
				}
				.banner{
					height: 150px;
				}
				.post-thumbnail{
					display: none;
				}
			}

			article{
				position: relative;

				a{
					text-decoration: none;

					.entry-header{
						position: absolute;
						bottom: 0;
						margin-bottom: 0;
						font-size: 12px;

						.post-thumbnail{
							display: none;
						}

						.entry-title{
							font-size: 1.5em;
						}
					}
				}

			}

			.hero-group{
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0.5em;
				
				@media screen and (max-width: $break-small) {
					grid-template-columns: 1fr;
				}

				article{

					@media screen and (max-width: $break-small) {
						&:nth-of-type(1n+4) {display: none;}
					}

					&.hero{
						grid-column-start: 1;
						grid-column-end: -1;

						.banner{
							height: 480px;
							
							@media screen and (max-width: $break-medium) {
								height: 390px;
							}

							@media screen and (max-width: $break-small) {
								height: 300px;
							}
						}

						.entry-header{
							font-size: 16px;
						}
					}
				}
			}

			.portfolio-group,
			.update-group{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: 0.5em;
				
				@media screen and (max-width: $break-medium) {
					grid-template-columns: 1fr 1fr;
				}

				@media screen and (max-width: $break-small) {
					grid-template-columns: 1fr;
				}

				article{

					@media screen and (max-width: $break-medium) {
						&:nth-of-type(1n+5) {display: none;}
					}

					.banner{
						height: auto;
						padding-bottom: 100%;
						
						@media screen and (max-width: $break-medium) {
							padding-bottom: 50%;
						}
					}
				}
			}
		}

		#secondary{
			display: none;
		}
	}
}