$header-height: 40px;
$header-font-size: 16px;

$gz-green: #7bb951;
$gz-green-dark: #234914;
$link-color: #528033;
$text-color-main: #404040;
$background-color-main: #f6f6f6;

$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;

:root {
	--swiper-theme-color: $gz-green;
}

body{
	color: $text-color-main;
	background-color: $background-color-main;
}

a, a:visited, a:active{
	color: $link-color;
}

a:hover{
	color: $gz-green;
}

.video-play-button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	border: solid 3px #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background: $gz-green;
	color: #fff !important;
	text-decoration: none;
	font-size: 100px;
	line-height: 50px;
	padding: 25px 12px 25px 38px;
	transition: background-color 250ms, opacity 1000ms;

	&:hover{
		background-color: $gz-green-dark;
	}
}

header.site-header {
	body.logged-in &{
		margin-top: 32px !important;
	}
	background: $gz-green;
	color: $background-color-main;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $header-height;
	z-index: 100;
	font-size: $header-font-size;
	/* overflow: hidden; */
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);

	.site-branding{

		.site-description{
			margin: 0;
			position: absolute;
			left: 20px;
			top: 0;
			color: #fff;
			line-height: calc(#{$header-height} - 0.25rem);
			font-size: 0.75rem;
			padding-top: 0.25rem;

			@media screen and (max-width: $break-small) {
				font-size: 0.5rem;
				line-height: 40px;
			}
		}

		.logo svg{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			height: 40px;
		}
	}

	.main-navigation{
		float:right;
		width: auto;
		height: $header-height;

		.menu,
		.menu-main-nav-container{
			float:left;
			height: $header-height;

			ul a{
				position: relative;
				display: inline-block;
				height: $header-height;
				text-decoration: none;
				color: $background-color-main;
			}

			.nav-menu a{
				line-height: $header-height;
				padding: 0 20px 0 0;
			}

			.profile-menu a{
				width: 35px;

				*{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&.invert{
					color: #000;
				}
			}
		}
	}
}

.page{
	margin: 0;
}

@import 'background';
@import 'page';
@import 'archive';
@import 'sidebar';

@import 'about';
@import 'article';


.single-portfolio{
	.swiper-container{
		.swiper-slide{
			*:first-child{
				position: relative;
				display: block;
				width: 100%;
				height: 650px;
				max-height: 500px;

				*{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display:block;
					width: auto;
					height: 100%;
				}
			}
		}
	}
}

.single-post{
	.entry-header{
		.post-thumbnail{
			display: none;
		}
	}
}

.single-update{
	.entry-content{
		.hashtags{
			display: table;
			margin-top: 0.5em;
		}

		.post-thumbnail,
		.wp-video{
			border: solid 1px $text-color-main;
			padding: 5px;
			margin: auto;
		}
	}
}

.tax-project{
	#page{
		#primary{
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

			.entry-content{
				grid-column-start: 1;
				grid-column-end: -1;
				padding: 1.5em 0;
				padding: 1.5em 1em 1.5em 2em;
				font-size: 1.5em;
			}

			&.screenshots .entry-content{
				grid-column: 1 / span 2;
			}

			.swiper-container{
				margin: 1.5em auto;
				grid-column: 3 / span 2;
				grid-column-start: 1;
				grid-column-end: -1;
				width: 100%;
				.swiper-slide{
					.image-holder{
						display: block;
						text-align: center;
						height: 100%;
						position:relative;
						img{
							position: relative;
							top: 50%;
							//left: 50%;
							transform: translateY(-50%);
						}
					}
				}
				.swiper-pagination-bullets{
					bottom: 0;
				}
			}

			&.screenshots .swiper-container{
				grid-column: 3 / span 2;
			}

			article{
				border: solid 1px $text-color-main;
				.banner{
					height: 150px;
				}
				.entry-header{
					min-height: auto;
					padding: 0.5em 1.5em;
					margin: 0;
					.entry-headline{
						width: 100%;
						*{
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.entry-super-title{
							font-size: 0.65em;
						}
						.entry-title{
							font-size: 0.9em;
						}
					}
					
					.post-thumbnail{
						display: none;
					}
				}
			}
		}

		#secondary{
			margin-top: 4em;
		}
	}
}