$header-height: 40px;
$header-font-size: 16px;

$gz-green: #7bb951;
$link-color: #528033;
$text-color-main: #404040;
$background-color-main: #f6f6f6;

$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;


body{
	color: $text-color-main;
	background-color: $background-color-main;
}

a, a:visited, a:active{
	color: $link-color;
}

a:hover{
	color: $gz-green;
}

header.site-header {
	body.logged-in &{
		margin-top: 32px !important;
	}
	background: $gz-green;
	color: $background-color-main;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $header-height;
	z-index: 100;
	font-size: $header-font-size;
	/* overflow: hidden; */
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);

	.site-branding{

		.site-description{
			margin: 0;
			position: absolute;
			left: 20px;
			top: 0;
			color: #fff;
			line-height: calc(#{$header-height} - 0.25rem);
			font-size: 0.75rem;
			padding-top: 0.25rem;

			@media screen and (max-width: $break-small) {
				font-size: 0.5rem;
				line-height: 40px;
			}
		}

		.logo svg{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			height: 40px;
		}
	}

	.main-navigation{
		float:right;
		width: auto;
		height: $header-height;

		.menu,
		.menu-main-nav-container{
			float:left;
			height: $header-height;

			ul a{
				position: relative;
				display: inline-block;
				height: $header-height;
				text-decoration: none;
				color: $background-color-main;
			}

			.nav-menu a{
				line-height: $header-height;
				padding: 0 20px 0 0;
			}

			.profile-menu a{
				width: 35px;

				*{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&.invert{
					color: #000;
				}
			}
		}
	}
}

@import 'background';
@import 'page';
@import 'archive';
@import 'sidebar';

@import 'about';


.single-portfolio{
	.swiper-container{
		.swiper-slide{
			*:first-child{
				position: relative;
				display: block;
				width: 100%;
				height: 500px;
				max-height: 500px;

				*{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display:block;
					width: auto;
					height: 100%;
				}
			}
		}
	}
}